In [1]:
import pandas as pd

In [2]:
#import numpy and mp 
import numpy as np

In [3]:
#import the csv 
products = ('products.csv')

In [4]:
# View the DataFrame.
products.shape
#I tried to view the DataFrame before the read function

AttributeError: 'str' object has no attribute 'shape'

In [6]:
products = pd.read_csv('products.csv')

In [7]:
# View the DataFrame.
products.shape

(3945, 2)

In [8]:
products[products['Description'].apply(lambda x: 'Fire' in x.lower())]
#function did not work because I used a capital F

Empty DataFrame
Columns: [StockCode, Description]
Index: []

In [9]:
#apply function to find products containing 'fire' 
products[products['Description'].apply(lambda x: 'fire' in x.lower())]

     StockCode                          Description
1318     22428             ENAMEL FIRE BUCKET CREAM
3033    84569B       PACK 3 FIRE ENGINE/CAR PATCHES
3626    90039A     FIRE POLISHED GLASS BRACELET RED
3627    90039B  FIRE POLISHED GLASS BRACELET MONTAN
3628    90039C   FIRE POLISHED GLASS BRACELET BLACK
3629    90039D   FIRE POLISHED GLASS BRACELET GREEN
3656    90060B       FIRE POLISHED GLASS NECKL GOLD
3657    90060D     FIRE POLISHED GLASS NECKL BRONZE
3658    90060F      FIRE POLISHED GLASS NECKL GREEN

In [10]:
#apply function to find products containing 'candle'
products[products['Description'].apply(lambda x: 'candle' in x.lower())]
#accidentally repeated the the candle snippet instead of matches - ignore

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

In [11]:
#apply function to find products containing 'matches'
products[products['Description'].apply(lambda x: 'candle' in x.lower())]

     StockCode                         Description
83      17012A  ORIGAMI VANILLA INCENSE/CANDLE SET
84      17012B  ORIGAMI JASMINE INCENSE/CANDLE SET
86      17012D     ORIGAMI ROSE INCENSE/CANDLE SET
87      17012E    ORIGAMI OPIUM INCENSE/CANDLE SET
107     17136A      BLUE STONES ON WIRE FOR CANDLE
...        ...                                 ...
3530    85230A         OPIUM SCENTED VOTIVE CANDLE
3531    85230B      CINNAMON SCENTED VOTIVE CANDLE
3532    85230E      STRAWBRY SCENTED VOTIVE CANDLE
3533    85230F               JASMINE VOTIVE CANDLE
3534    85230G                ORANGE VOTIVE CANDLE

[178 rows x 2 columns]

In [12]:
#apply function to find products containing 'matches'
products[products['Description'].apply(lambda x: 'matches' in x.lower())]

    StockCode                      Description
669     21584     RETROSPOT SMALL TUBE MATCHES
670     21586  KINGS CHOICE GIANT TUBE MATCHES
671     21587     COSY HOUR GIANT TUBE MATCHES
672     21588     RETROSPOT GIANT TUBE MATCHES
673     21591      COSY HOUR CIGAR BOX MATCHES
674     21592      RETROSPOT CIGAR BOX MATCHES

In [13]:
#result: 9 rows contained the word 'fire', 178 rows contained the word 'candle' and 6 rows contained the word 'matches'